@Model  dynamic
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <div>
    <h1>Welcome @Model.Name</h1>
        <h2>You have successfully confirmed your email.</h2>
        <h3><a href="http://www.tangjai.azurewebsites.net/login">Go to website and login.</a></h3>
    </div>
</body>
</html>
